:root {
    --text: #FEFEFE;
    --background: #212845;
    --accents: #216EFC;
}
body {
    background-color: #212845;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--text);
}
header {
    border-bottom: 2px solid var(--accents);
    width: 300px;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    margin: 20px auto 50px auto;
}
.board {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);;
    width: 500px;
    height: 500px;
    background-color: var(--background);
    border-radius: 10px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 80px;
}
.cell:hover {
    background-color: rgb(22, 22, 22);
    transition-duration: .2s;
}
.zero, .one, .two, .three, .four, .five {
    border-bottom: 2px solid var(--accents);
}
.zero, .one, .three, .four, .six, .seven {
    border-right: 2px solid var(--accents);
}
.winner {
    margin-top: 70px;
    font-size: 60px;
    font-weight: bold;
}
.restart {
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: var(--white);
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--accents);
}
.restart:hover {
    cursor: pointer;
    background-color: #194eaf;
}
.restart:focus, .removeAll:focus{
    outline: none;
}
/* Footer */
footer {
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    border-top: 2px solid var(--accents);
}
footer a {
    text-decoration: none;
    color: var(--text);
}